/* penk ffb1dc, fffdd0 */

h1{
  color: rgb(83, 81, 81);
}

.App {
  background-color: #b4d3b2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 30rem;
  height: 3rem;
  font-size: 18px;
  border: #fffdd0 5px dotted;
  border-radius: 5px;
  color: rgb(83, 81, 81);
}

button {
  height: 5rem;
  width: 10rem;
  background-color: #ffb1dc;
  border: 2px white dotted;
  color: rgb(83, 81, 81);
  font-size: 24px;
  margin: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e29cc3;
  color: white;
}

.result {
  color: #fffdd0;
  margin: auto;
  font-size: 5rem;
  text-align: center;
  display: inline-block ;
}

span{
  color: rgb(229, 73, 73);
  margin-top: 0.5rem;
}

.hidden {
  visibility: hidden !important;
}

.show {
  visibility: show !important;
}

.resultContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: 10rem;;
}

.star{
  padding: 1rem;
}

p {
  text-align: center;
}